<md-content class="padded-content-page">

        <div layout="row" layout-xs="column" layout-margin>

            <tri-widget flex title="business" content-layout="column" content-layout-align="center">
              <md-toolbar ng-hide="vm.selected.length || vm.filter.show" class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <div flex></div>
            <md-button class="md-icon-button" ng-click="vm.filter.show = true">
                <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar ng-show="vm.filter.show && !vm.selected.length" class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
            <form flex="" name="vm.filter.form">
                <input type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="search">
            </form>
            <md-button class="md-icon-button" ng-click="vm.removeFilter()">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selected.length">
        <div class="md-toolbar-tools" layout-align="start center">
            <div>{{vm.selected.length}} {{vm.selected.length > 1 ? 'roles' : 'bu'}} selected
              <md-button ng-click="vm.deleteBus()" class="md-icon-button" aria-label="Delete Role">
                  <md-icon md-font-icon="fa fa-trash-o"></md-icon>
              </md-button>

            </div>

        </div>
    </md-toolbar>

                <md-table-container>
                    <table md-table md-row-select multiple class="md-primary md-data-table" ng-model="vm.selected"  md-progress="vm.promise">
                        <thead md-head md-order="vm.query.order" md-on-reorder="vm.getRoles">
                            <tr md-row>
                                <th md-column md-order-by="name">name</th>
                                <th md-column md-order-by="slug">slug</th>
                                <th md-column md-order-by="active">Active</th>

                                <th md-column>Details</th>
                                <th md-column>Edit</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-auto-select md-select="bus" ng-repeat="bus in business | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                                <td md-cell>{{::bus.name}}</td>
                                <td md-cell>{{::bus.slug}}</td>
                                <td md-cell><md-icon style="color:green;"ng-show="bus.active"md-font-icon="fa fa-check"></md-icon><md-icon style="color:red" ng-hide="bus.active"md-font-icon="fa fa-times"></md-icon></td>
                                <td md-cell>
                                    <md-button ng-click="vm.busDetail(bus, $event)" class="md-icon-button" aria-label="Open bus">
                                        <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                                    </md-button>
                                </td>
                                <td md-cell>

                                    <md-button ng-click="vm.editbus(bus, $event)" class="md-icon-button" aria-label="Edit bus">
                                        <md-icon md-font-icon="fa fa-edit"></md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{business.length}}" md-page-select></md-table-pagination>
            </tri-widget>
        </div>

</md-content>
