
<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>{{::vm.dialogData.title}}</span>
                <span ng-show="vm.event.title"> - {{vm.event.title}}</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
<div layout="row" class="business" layout-wrap>
    <div flex="100" flex-gt-md="100">
      <md-tabs md-dynamic-height md-border-bottom class="md-primary" md-selected="selectedTabIndex" md-stretch-tabs="always">
            <md-tab label="business">
                <md-content class="md-padding">
                    <form name="business">
                        <md-input-container class="md-block">
                            <label for="name" translate>Name</label>
                            <input id="name" label="name" name="name" type="text" ng-model="vm.bus.name" required/>
                            <div ng-messages="business.name.$error" md-auto-hide="false" ng-show="business.name.$touched">
                                <div ng-message when="required"><span translate>Please enter your Name</span></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="slug" translate>Slug</label>
                            <input id="slug" label="slug" name="slug" type="text" ng-model="vm.bus.slug" required/>
                            <div ng-messages="business.slug.$error" md-auto-hide="false" ng-show="business.slug.$touched">
                                <div ng-message when="required"><span translate>Please enter your Slug</span></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="description" translate>description</label>
                            <input id="description" label="description" name="description" rows="5" type="text" ng-model="vm.bus.description" required/>
                            <div ng-messages="business.description.$error" md-auto-hide="false" ng-show="business.description.$touched">
                                <div ng-message when="required"><span translate>Please enter your description</span></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="email" translate>email</label>
                            <input id="email" label="email" name="email" type="email" ng-model="vm.bus.email" required/>
                            <div ng-messages="business.email.$error" md-auto-hide="false" ng-show="business.email.$touched">
                                <div ng-message when="required">
                                    <span translate>Please enter your email address</span>
                                </div>
                                <div ng-message when="email">
                                    <span translate>Please enter a valid email address</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="phone" translate>phone</label>
                            <input id="phone" label="phone" name="phone" type="text" ng-model="vm.bus.phone"/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="website" translate>website</label>
                            <input id="website" label="website" name="website" type="text" ng-model="vm.bus.website" required/>
                            <div ng-messages="business.website.$error" md-auto-hide="false" ng-show="business.website.$touched">
                                <div ng-message when="required"><span translate>Please enter your website</span></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">

                              <md-checkbox ng-model="vm.bus.active"  ng-true-value="1" ng-false-value="0">
                                  Active
                              </md-checkbox>
                          </md-input-container>
                        </md-input-container>


                        <md-button class="md-raised md-primary margin-left-0" ng-click="update()" translate="Update Settings"></md-button>
                    </form>
                </md-content>
            </md-tab>

            </md-tab>
            <md-tab label="Settings">
                <md-content class="md-padding">
                    <form name="Settings">
                      <md-input-container class="md-block">
                          <label translate>Webiste Url</label>
                          <input type="text" ng-model="vm.event.location">
                      </md-input-container>
                        <div class="event-dialog-input-row" layout="row" layout-align="start center">
                            <p flex hide-xs translate>Start</p>
                            <md-datepicker ng-model="vm.start" md-placeholder="Start | triTranslate"></md-datepicker>
                        </div>
                        <div class="event-dialog-input-row" layout="row" layout-align="start center">
                            <p flex translate>Start-TIME</p>
                            <div layout="row" layout-align="end center">
                                <md-icon class="padding-right-10" md-font-icon="zmdi zmdi-access-time"></md-icon>
                                <md-select class="padding-right-10" placeholder="{{'Hour' | triTranslate}}" ng-model="vm.event.Shour">
                                    <md-option ng-repeat="hour in hours" ng-value="hour">{{hour }}</md-option>
                                </md-select>
                                <md-select class="padding-right-10" placeholder="{{'Minute' | triTranslate}}" ng-model="vm.event.Sminute">
                                    <md-option ng-repeat="minute in minutes" ng-value="minute">{{minute }}</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="event-dialog-input-row" layout="row" layout-align="start center" ng-hide="vm.event.allDay">
                            <p translate flex hide-xs>End</p>
                            <md-datepicker ng-model="vm.end" md-placeholder="End | triTranslate"></md-datepicker>
                        </div>
                        <div class="event-dialog-input-row" layout="row" layout-align="start center" ng-hide="vm.event.allDay">
                            <p flex translate>End-TIME</p>
                            <div layout="row" layout-align="end center">
                                <md-icon class="padding-right-10" md-font-icon="zmdi zmdi-access-time"></md-icon>
                                <md-select class="padding-right-10" placeholder="{{'Hour' | triTranslate}}" ng-model="vm.event.Ehour">
                                    <md-option ng-repeat="hou in hours" ng-value="hou">{{hou }}</md-option>
                                </md-select>
                                <md-select class="padding-right-10" placeholder="{{'Minute' | triTranslate}}" ng-model="vm.event.Eminute">
                                    <md-option ng-repeat="minut in minutes" ng-value="minut">{{minut }}</md-option>
                                </md-select>
                            </div>
                        </div>
                        <md-input-container class="md-block">
                            <label translate>Email (From name)</label>
                            <textarea ng-model="vm.event.emailN"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>Email (From email)</label>
                            <textarea ng-model="vm.event.emailN"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-checkbox class="md-warn" ng-model="vm.event.check" aria-label="Warn Checkbox">
                              Active
                            </md-checkbox>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-checkbox class="md-warn" ng-model="vm.event.Emailcheck" aria-label="Warn Checkbox">
                              Activate Email Sending
                            </md-checkbox>
                        </md-input-container>



                        <md-button class="md-raised md-primary margin-left-0" ng-click="okSettingsClick()" translate="Update Settings"></md-button>

                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Closed Days">
              <md-content class="md-padding">
                  <form name="Closed">

                    <div class="margin-bottom-20" layout="row" layout-align="space-around center">
                            <p>Please select a date</p>
                            <md-datepicker ng-model="vm.event.closed" md-placeholder="Enter date"></md-datepicker>

                    </div>
                    <md-button class="md-raised md-primary margin-left-0" ng-click="update()" translate="Update Settings"></md-button>
                  </form>
              </md-content>
        </md-tabs>
    </div>

</div>
</md-dialog>
