<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>{{::vm.dialogData.title}}</span>
                <span ng-show="vm.event.title"> - {{vm.event.title}}</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="md-dialog-content">
        <form class="event-dialog-form" name="eventForm">
            <md-input-container class="md-block">
                <label translate>Name</label>
                <input ng-model="vm.event.name" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label translate>Machine Name</label>
                <input ng-model="vm.event.machine" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label translate>Description</label>
                <input ng-model="vm.event.description" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label translate>Group</label>
                <input ng-model="vm.event.group" required>
            </md-input-container>


        </form>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button class="md-warn" ng-click="vm.deleteClick()" aria-label="{{'Delete' | triTranslate}}" ng-show="vm.edit" translate="Delete"></md-button>
        <span flex></span>
        <md-button ng-click="vm.cancelClick()" aria-label="{{'Cancel' | triTranslate}}" translate="Cancel"></md-button>
        <md-button ng-click="vm.okClick()" class="md-primary" ng-disabled="eventForm.$invalid" aria-label="{{vm.dialogData.confirmButtonText | triTranslate}}" translate="{{::vm.dialogData.confirmButtonText}}"></md-button>
    </md-dialog-actions>
</md-dialog>
