<md-dialog class="order-dialog mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex >
                <span translate>Order #</span><span>{{vm.order.id}}</span>
            </h2>
            <md-button class="md-icon-button" ng-click="vm.printClick()" aria-label="print">
                <md-icon md-font-icon="zmdi zmdi-print"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content">
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Name</strong>
            </div>
            <div flex>
                <span>{{vm.role.name }}</span>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Machine Name</strong>
            </div>
            <div flex>
                <span>{{vm.role.machine}}</span>
            </div>
        </div>

        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Description</strong>
            </div>
            <div flex>
                <span>{{vm.role.description}}</span>
            </div>
        </div>

        <md-divider class="margin-bottom-40 margin-top-40"></md-divider>
        <h5>permissions</h5>
        <md-divider class="margin-bottom-40 margin-top-40"></md-divider>
        <table class="order-dialog-product-table md-table">
            <thead>
                <tr>
                    <th translate>permission</th>
                    <th translate>Machine name</th>
                    <th class="text-right" translate></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="per in vm.event.permissions">
                    <td>{{per.name}}</td>
                    <td>{{per.machine}}</td>
                    <td class="text-right padding-right-10"><md-icon style="color:green"md-font-icon="fa fa-check"></md-icon></td>
                </tr>

            </tbody>
        </table>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.okClick()" class="md-primary" aria-label="{{Ok | triTranslate}}" translate="Ok"></md-button>
    </md-dialog-actions>
</md-dialog>
