<md-dialog class="order-dialog mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex >
                <span>{{vm.bus.name}}</span>
            </h2>
            <md-button class="md-icon-button" ng-click="vm.printClick()" aria-label="print">
                <md-icon md-font-icon="zmdi zmdi-print"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content">
      <div flex layout="row" class="margin-bottom-10">
          <div flex>
              <strong translate>Gender</strong>
          </div>
          <div flex>
              <span>{{vm.customer.gender}}</span>
          </div>
      </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>first name</strong>
            </div>
            <div flex>
                <span>{{vm.customer.firstname }}</span>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>last Name</strong>
            </div>
            <div flex>
                <span>{{vm.customer.lastname}}</span>
            </div>
        </div>

        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>email</strong>
            </div>
            <div flex>
                <span>{{vm.customer.email}}</span>
            </div>
        </div>

        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Phone Number</strong>
            </div>
            <div flex>
                <span>{{vm.customer.mobile}}</span>
            </div>
        </div>

          <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Active</strong>
            </div>
                <td md-cell>
                  <md-icon style="color:green;"ng-show="vm.customer.active"md-font-icon="fa fa-check"></md-icon>
                  <md-icon style="color:red" ng-hide="vm.customer.active"md-font-icon="fa fa-times"></md-icon>
                </td>
        </div>
        <div flex layout="row" class="margin-bottom-10">
          <div flex>
              <strong translate>Subscriber</strong>
          </div>
              <td md-cell>
                <md-icon style="color:green;"ng-show="vm.customer.subscriber"md-font-icon="fa fa-check"></md-icon>
                <md-icon style="color:red" ng-hide="vm.customer.subscriber"md-font-icon="fa fa-times"></md-icon>
              </td>
      </div>
      <div flex layout="row" class="margin-bottom-10">
          <div flex>
              <strong translate>Business</strong>
          </div>
          <div flex>
              <span>{{vm.customer.businesses[0].slug}}</span>
          </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.okClick()" class="md-primary" aria-label="{{Ok | triTranslate}}" translate="Ok"></md-button>
    </md-dialog-actions>
</md-dialog>
