.inbox-list {
  background: white;
}

.inbox-list__email.md-3-line.md-long-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.inbox-list__email h3 .md-caption {
  float: right;
}

// angular material is adding width 100% to the list item when it has ng-click
// this stops it making the text overflow
.inbox-list__email._md-button-wrap > .md-button:first-child ._md-list-item-inner {
  width: auto;
}


// selected email
.inbox-list__email--active {
    background: rgba(0,0,0, .05);
    .md-avatar {
      display: block;
      animation: swing 1s;
    }
}

// unread email
.inbox-list__email--unread h3 {
    font-weight: 700 !important;
}

// - No email selected
.inbox-no-email-selected {
  text-align: center;
  opacity: 0.5;
  h2 {
    font-weight: lighter;
  }
}

// search filter animations
.inbox-list__email--animated.ng-move,
.inbox-list__email--animated.ng-enter,
.inbox-list__email--animated.ng-leave {
  transition:all linear 0.8s;
  width: 100%;
  position: relative;
}

.inbox-list__email--animated.ng-leave.ng-leave-active,
.inbox-list__email--animated.ng-move,
.inbox-list__email--animated.ng-enter {
  opacity:0;
  max-height: 0;
}

.inbox-list__email--animated.ng-leave,
.inbox-list__email--animated.ng-move.ng-move-active,
.inbox-list__email--animated.ng-enter.ng-enter-active {
  opacity:1;
  max-height: 500px;
}

#ui-admin-email {
  &.ng-enter {
    @include slideInRight();
  }
  &.ng-leave {
    @include slideOutRight();
  }
}
