<div class="full-image-background mb-bg-01 padding-20 padding-top-200 overlay-gradient-30" layout="row" layout-align="center start">
    <div class="margin-right-20">
        <img src="assets/images/avatars/avatar-5.png" alt="girl-avatar" class="make-round" width="100"/>
    </div>
    <div class="text-light">
        <h3 class="font-weight-600 margin-bottom-0 text-light">{{vm.user.Firstname}} / Profile</h3>
        <p class="font-weight-300 margin-top-0">Edit your name, avatar etc</p>
     </div>
</div>

<div layout="row" class="profile" layout-wrap>
    <div flex="100" flex-gt-md="100">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Profile">
                <md-content class="md-padding">
                    <form name="profile">
                        <md-input-container class="md-block">
                            <label for="Firstname" translate>Firstname</label>
                            <input id="Firstname" label="Firstname" name="Firtname" type="text" ng-model="vm.user.Firstname" required/>
                            <div ng-messages="profile.Firstname.$error" md-auto-hide="false" ng-show="profile.Firstname.$touched">
                                <div ng-message when="required"><span translate>Please enter your Firtname</span></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="Lastname" translate>Lastname</label>
                            <input id="Lastname" label="Lastname" name="Lastname" type="text" ng-model="vm.user.Lastname" required/>
                            <div ng-messages="profile.Lastname.$error" md-auto-hide="false" ng-show="profile.Lastname.$touched">
                                <div ng-message when="required"><span translate>Please enter your name</span></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="email" translate>email</label>
                            <input id="email" label="email" name="email" type="email" ng-model="vm.user.email" required/>
                            <div ng-messages="profile.email.$error" md-auto-hide="false" ng-show="profile.email.$touched">
                                <div ng-message when="required">
                                    <span translate>Please enter your email address</span>
                                </div>
                                <div ng-message when="email">
                                    <span translate>Please enter a valid email address</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="mobile" translate>mobile</label>
                            <input id="mobile" label="mobile" name="mobile" type="text" ng-model="vm.user.mobile"/>
                        </md-input-container>



                        <md-button class="md-raised md-primary margin-left-0" ng-click="update()" translate="Update Settings"></md-button>
                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Password">
                <md-content class="md-padding">
                    <form name="password">


                        <md-input-container class="md-block">
                            <label for="password" translate>new password</label>
                            <input id="password" label="password" name="password" type="password" ng-model="vm.user.password" tri-same-password="password.confirm" ng-minlength="8" required/>
                            <div ng-messages="password.password.$error" ng-include="'app/login-module/password.messages.html'" md-auto-hide="false" ng-show="password.password.$touched"></div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="confirm" translate>confirm password</label>
                            <input id="confirm" label="confirm" name="confirm" type="password" ng-model="vm.user.confirm" tri-same-password="password.password" ng-minlength="8" required/>
                            <div ng-messages="password.confirm.$error" ng-include="'app/login-module/password.messages.html'" md-auto-hide="false" ng-show="password.confirm.$touched"></div>
                        </md-input-container>

                        <md-button class="md-raised md-primary margin-left-0" ng-click="update()" translate="Update Settings"></md-button>

                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Notifications">
                <md-content class="md-padding">
                      <!--div flow-init="{target: '/upload'}"
                           flow-file-success="$file.msg = $message">

                        <input type="file" flow-btn/>
                        <div class="alert" flow-drop>
                            Drag And Drop your file here
                        </div>



                        <table>
                          <tr ng-repeat="file in $flow.files">
                              <td>{{$index+1}}</td>
                              <td>{{file.name}}</td>
                      <img flow-img="{{file}}" />
                          </tr>
                        </table>
                        <md-button class="md-raised md-primary margin-left-0" ng-click="InsertItems($flow)" translate="Update Settings"></md-button>
                      </div-->
                      <div ng-repeat="step in stepsModel">
                         <img class="thumb" ng-src="{{step}}" />
                     </div>

                     <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />

                </md-content>
            </md-tab>
        </md-tabs>
    </div>

</div>
