<div layout="column" layout-align="center center" flex>
    <md-button ng-class="[vm.buttonClass1, vm.buttonHue1]" aria-label="flat button">Button</md-button>
</div>
<div layout="column" layout-align="center space-around" flex>
    <md-input-container>
        <label>Button Style</label>
        <md-select placeholder="Choose a style" ng-model="vm.buttonClass1">
            <md-option value="md-primary">Primary</md-option>
            <md-option value="md-accent">Accent</md-option>
            <md-option value="md-warn">Warn</md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Button Hue</label>
        <md-select placeholder="Choose a hue" ng-model="vm.buttonHue1">
            <md-option value="md-default">Default Hue</md-option>
            <md-option value="md-hue-1">Hue 1</md-option>
            <md-option value="md-hue-2">Hue 2</md-option>
            <md-option value="md-hue-3">Hue 3</md-option>
        </md-select>
    </md-input-container>
</div>
