<div layout="column" layout-align="center center" flex>
    <md-button class="md-fab" ng-class="[vm.buttonClass3, vm.buttonHue3]" aria-label="fab button">
        <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
    </md-button>
</div>
<div layout="column" layout-align="center space-around" flex>
    <md-input-container>
        <label>Button Style</label>
        <md-select placeholder="Choose a style" ng-model="vm.buttonClass3">
            <md-option value="md-primary">Primary</md-option>
            <md-option value="md-accent">Accent</md-option>
            <md-option value="md-warn">Warn</md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Button Hue</label>
        <md-select placeholder="Choose a hue" ng-model="vm.buttonHue3">
            <md-option value="md-default">Default Hue</md-option>
            <md-option value="md-hue-1">Hue 1</md-option>
            <md-option value="md-hue-2">Hue 2</md-option>
            <md-option value="md-hue-3">Hue 3</md-option>
        </md-select>
    </md-input-container>
</div>
