<div flex layout="column">
    <div flex layout="row" layout-xs="column">
        <div class="md-padding" flex palette-background="green:500">
            <p>Here is an example of a non scrolling page.</p>
        </div>
        <div class="md-padding" flex palette-background="red:500">
            <p>This allows you to use the flex box model to create full height layouts.</p>
        </div>
    </div>
    <div flex layout="row" layout-xs="column">
        <div class="md-padding" flex palette-background="blue:500">
            <p>Like this one.</p>
        </div>
        <div class="md-padding" flex palette-background="cyan:500">
            <p>Where the page is split into 4 panels.</p>
        </div>
    </div>
</div>
