<div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-if="!vm.hideMenuButton()" ng-click="vm.openSideNav('left')" aria-label="side navigation">
        <md-icon md-font-icon="zmdi zmdi-menu"></md-icon>
    </md-button>

    <h2 hide-xs flex>
        <span ng-repeat="crumb in vm.breadcrumbs.crumbs">
            <span translate>{{crumb.name}}</span>
            <md-icon md-font-icon="zmdi zmdi-chevron-right" ng-if="!$last"></md-icon>
        </span>
    </h2>

    <md-button class="md-icon-button toolbar-button" ng-click="vm.toggleFullScreen()" aria-label="toggle fullscreen">
        <md-icon md-font-icon ng-class="vm.fullScreenIcon"></md-icon>
    </md-button>

    <md-menu ng-show="vm.languages.length > 0">
        <md-button class="md-icon-button" aria-label="language" ng-click="$mdOpenMenu()" aria-label="change language">
            <md-icon md-font-icon="zmdi zmdi-globe-alt"></md-icon>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item ng-repeat="language in ::vm.languages">
                <md-button ng-click="vm.switchLanguage(language.key)" translate="{{::language.name}}" aria-label="{{::language.name}}"></md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>


    <md-button class="md-icon-button toolbar-button" ng-click="vm.hideMenuButton();vm.toggleNotificationsTab(0)">
        <md-icon md-font-icon="fa fa-plane"></md-icon>
    </md-button>
    <md-button class="md-icon-button toolbar-button" ng-click="vm.toggleNotificationsTab(1)">
        <md-icon md-font-icon="fa fa-bell-o"></md-icon>
        <span class="toolbar-button-badge" theme-background="accent">2</span>
    </md-button>

    <md-menu>
        <md-button aria-label="Open user menu" ng-click="$mdOpenMenu()" aria-label="side navigation">

            <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="vm.toggleNotificationsTab(2)" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
                    <span translate="Settings"></span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button href="#/userProfile" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <span translate="Profile"></span>
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="vm.logout()" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-sign-in"></md-icon>
                    <span translate="Logout"></span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
